<mat-toolbar color="primary">
    
    <button mat-button routerLink="/">Ecart</button>
    <span class="spacer">
      <div style="color:whitesmoke;">Hello! &nbsp;{{user}}</div>
    </span>
    <div>
      <input type="text" name="search" placeholder="Search..">
      
  </div>
  
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="/"></mat-icon>
    <section>
      
        <div class="example-button-row">
         
          <button mat-flat-button style="color:black;" routerLink="/login">SignIn</button>
          
        </div>
        
      </section>
      <section>
        <a mat-button routerLink="/register">SignUp</a>
      </section>
      <section>
        <a mat-button routerLink="/cart">cart {{totalitem}}</a>
       
      </section>
       
    
    
    
    <!-- Add user profile, search box, etc. -->
</mat-toolbar>

<mat-divider></mat-divider>

<router-outlet> </router-outlet>
